* {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    border: border-box;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding: 0 15px;
    justify-content: space-evenly;
}