div {
    height: 100px;
    width: 100px;
    background-color:aqua;
    border: 2px solid  black;
    display: inline-block;
}

body {
    background-image: url("cat_photo.jpg");
    background-size: cover;
}


/* Static Position
#box1 {
    position: static;
}

/* Relative position */
/* #box2 {
    position: relative;
    top: 30px;
    left: 50px;
}

/* Absolute position */
/*#box3 {
    position: absolute;
    top: 10px;
}

/* Fixed Position */
/*#box4 {
    position: fixed;
    top: 0px;
  
} 